/app/google-services.json
/app/google-services.json-development
/app/google-services.json-production
/app/keystore.jks
app/src/test/resources/digikam4.db
app/src/test/resources/recognition.db
app/src/test/resources/similarity.db
app/src/test/resources/thumbnails-digikam.db
/build
/captures
.cxx
/docs/books/Atomic Kotlin-leanpub.com (2020).epub
/docs/books/Beginning Android Development with Kotlin (2021).pdf
/docs/books/Jetpack Compose by Tutorials (2021).pdf
/docs/books/OpenCV Android Programming By Example-Packt Publishing (2015).epub
docs/ui/.~lock.Picutre PostCard.odp#
docs/uml/Picture Postcard.vpp.bak_*
docs/uml/.Picture Postcard.vpp.lck
.DS_Store
.externalNativeBuild
.gradle
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/sonarlint
/.idea/sonarlint/issuestore/*
/.idea/workspace.xml
*.iml
/local.properties
local.properties
.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint-state.xml
/node_modules/
/package.json
/package-lock.json
/vendor/
